<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jets.mashaweer">

    <!-- *** PERMISSIONS *** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- End of Permissions -->
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- *** SplashScreenAvtivity *** -->
        <activity
            android:name=".SplashScreenAvtivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- End of SplashScreenAvtivity -->


        <!-- *** LoginActivity *** -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <!-- End of LoginActivity -->


        <!-- *** SignupActivity *** -->
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_sigup"
            android:screenOrientation="portrait" />
        <!-- End of SignupActivity -->


        <!-- *** HomeActivity *** -->
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"></activity>
        <!-- End of HomeActivity -->


        <!-- *** HistoryActivity *** -->
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"></activity>
        <!-- End of HistoryActivity -->


        <!-- *** TripAddActivity *** -->
        <activity
            android:name=".TripAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- End of TripAddActivity -->


        <!-- *** TripEditActivity *** -->
        <activity
            android:name=".TripEditActivity"
            android:screenOrientation="portrait" />
        <!-- End of TripEditActivity -->


        <!-- *** TripDetailsActivity *** -->
        <activity
            android:name=".TripDetailsActivity"
            android:label="@string/title_activity_trip_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- End of TripDetailsActivity -->


        <!-- *** ReminderActivity *** -->
        <activity
            android:name=".ReminderActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Dialog" />
        <!-- End of ReminderActivity -->


        <!-- *** META-DATA *** -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->


        <!-- This is for Google place AutoComplete API && History Map Activity -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTJY-IKKDKRNA_YSOemPS5EqkbTX7NM_g"/>
        <!-- End of meta-data -->


        <!-- *** RECEIVERS *** -->
        <receiver android:name="com.jets.classes.Alarm" />
        <receiver android:name="com.jets.classes.TripServices">
            <intent-filter>
                <action android:name="START_ACTION" />
                <action android:name="CANCEL_ACTION" />
            </intent-filter>
        </receiver>
        <!-- End of Receivers -->

    </application>

</manifest>