<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jets.mashaweer">

    <!-- *** PERMISSIONS *** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- End of Permissions -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!-- *** SplashScreenAvtivity *** -->
        <activity android:name=".SplashScreenAvtivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- End of SplashScreenAvtivity -->


        <!-- *** LoginActivity *** -->
        <activity android:name=".LoginActivity" />
        <!-- End of LoginActivity -->

        <!-- *** SignupActivity *** -->
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_sigup" />
        <!-- End of SignupActivity -->

        <!-- *** HomeActivity *** -->
        <activity android:name=".HomeActivity" >

        </activity>
        <!-- End of HomeActivity -->

        <!-- *** HistoryActivity *** -->
        <activity android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >

        </activity>
        <!-- End of HistoryActivity -->

        <!-- *** TripAddActivity *** -->
        <activity android:name=".TripAddActivity" >



        </activity>
        <!-- End of TripAddActivity -->

        <!-- *** TripEditActivity *** -->
        <activity android:name=".TripEditActivity" />
        <!-- End of TripEditActivity -->

        <!-- *** TripDetails *** -->
        <activity android:name=".TripDetails"
            android:label="@string/title_activity_trip_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- End of TripDetails -->


        <!-- *** ReminderActivity *** -->
        <activity
            android:name=".ReminderActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <!-- End of ReminderActivity -->


        <!-- *** META-DATA *** -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        -->


        <!-- This is for Google place AutoComplete API-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMN9hs_EuL_V0qpU2T3YeJVcbOvx9cTl0" />
        <!-- -->

        <!-- End of meta-data -->


        <!-- *** RECEIVERS *** -->
        <receiver android:name="com.jets.classes.Alarm" />
        <!-- End of Receivers -->

    </application>

</manifest>